In [75]:
import pandas as pd

In [76]:
car1=pd.read_csv('/content/quikr_car.txt')
car1.to_csv('/content/quikr_car.txt',index=False)

In [77]:
car1.head()

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [78]:
car=car1

In [79]:
car=car.drop('Unnamed: 0',axis=1)

In [80]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [81]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [82]:
car.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [83]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [84]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [85]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [86]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [87]:
# year has many non-year values
#year object to int

#price has ask for price
#price object to int

#kms_driven has kms with integer
#kms_driven obj to int
#kms_driven has nan values

# fuel_type has nan values

#keep first 3 words of name

In [88]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [89]:
#CLEANING

In [90]:
backup=car.copy()

In [91]:
car=car[car['year'].str.isnumeric()]

In [92]:
car['year']=car['year'].astype(int)

<ipython-input-92-c95edc1f455b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['year']=car['year'].astype(int)

In [93]:
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: int64

In [94]:
car=car[car['Price']!="Ask For Price"]

In [95]:
car['Price']=car['Price'].str.replace(',','').astype(int)

<ipython-input-95-7c631ea95249>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].str.replace(',','').astype(int)

In [96]:
car['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int64

In [97]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [98]:
car['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [99]:
car[['kms_drive','useless']]=car['kms_driven'].str.split(expand=True)

In [100]:
car=car.drop(['useless','kms_driven'],axis=1)

In [101]:
car=car.rename(columns={'kms_drive':'kms_driven'})

In [102]:
car

,name,company,year,Price,fuel_type,kms_driven
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,Petrol,"45,000"
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,Diesel,40
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,Petrol,"28,000"
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,Diesel,"36,000"
6,Ford Figo,Ford,2012,175000,Diesel,"41,000"
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,300000,Petrol,"1,32,000"
888,Tata Zest XM Diesel,Tata,2018,260000,Diesel,"27,000"
889,Mahindra Quanto C8,Mahindra,2013,390000,Diesel,"40,000"
890,Honda Amaze 1.2 E i VTEC,Honda,2014,180000,NaN,Petrol
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,160000,NaN,Petrol

In [104]:
car['kms_driven']=car['kms_driven'].str.replace(',','')

In [105]:
car=car[car['kms_driven'].str.isnumeric()]

In [129]:
car['kms_driven']=car['kms_driven'].astype(int)

In [108]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   fuel_type   816 non-null    object
 5   kms_driven  817 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.7+ KB

In [116]:
car=car[~car['fuel_type'].isna()]

In [117]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   fuel_type   816 non-null    object
 5   kms_driven  816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.6+ KB

In [122]:
car['name']=car['name'].str.split().str.slice(0,3).str.join(' ')

In [123]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [125]:
car=car.reset_index(drop=True)

In [127]:
car

                       name   company  year   Price fuel_type kms_driven
0       Hyundai Santro Xing   Hyundai  2007   80000    Petrol      45000
1       Mahindra Jeep CL550  Mahindra  2006  425000    Diesel         40
2         Hyundai Grand i10   Hyundai  2014  325000    Petrol      28000
3    Ford EcoSport Titanium      Ford  2014  575000    Diesel      36000
4                 Ford Figo      Ford  2012  175000    Diesel      41000
..                      ...       ...   ...     ...       ...        ...
811      Maruti Suzuki Ritz    Maruti  2011  270000    Petrol      50000
812          Tata Indica V2      Tata  2009  110000    Diesel      30000
813    Toyota Corolla Altis    Toyota  2009  300000    Petrol     132000
814            Tata Zest XM      Tata  2018  260000    Diesel      27000
815      Mahindra Quanto C8  Mahindra  2013  390000    Diesel      40000

[816 rows x 6 columns]

In [130]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [132]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [133]:
car.describe()

              year         Price     kms_driven
count   815.000000  8.150000e+02     815.000000
mean   2012.442945  4.017933e+05   46277.096933
std       4.005079  3.815888e+05   34318.459638
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56879.000000
max    2019.000000  3.100000e+06  400000.000000

In [134]:
car.to_csv('Cleaned_Car.csv')

In [135]:
#Model

In [136]:
X=car.drop(columns='Price')

In [151]:
y=car['Price']

In [152]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [144]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [141]:
ohe=OneHotEncoder()

In [142]:
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [154]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [155]:
column_trans= make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                      remainder='passthrough')

In [156]:
lr=LinearRegression()

In [157]:
pipe=make_pipeline(column_trans,lr)

In [158]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [159]:
y_pred=pipe.predict(X_test)

In [ ]:
y_pred

In [161]:
r2_score(y_test,y_pred)

0.5448897743529801

In [225]:
a=[]

In [226]:
for i in range(1000):
  X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
  lr=LinearRegression()
  pipe=make_pipeline(column_trans,lr)
  pipe.fit(X_train,y_train)
  y_pred=pipe.predict(X_test)
  a.append(r2_score(y_test,y_pred))

In [227]:
a

[0.659028389313812,
 0.4786019553698676,
 0.6207794249081153,
 0.5370191770781386,
 0.8188957905376869,
 0.6635817972380802,
 0.6276610482734784,
 0.658886944877979,
 0.6720870702301194,
 0.5700289166177432,
 0.648400695064776,
 0.6085893532390639,
 0.45711028776282436,
 0.6674682027197638,
 0.5613097872692655,
 0.6302127178342503,
 0.4878885663268868,
 0.6657802384033991,
 0.6089260020595317,
 0.6080562969876123,
 0.6411124833470485,
 0.6211086834306807,
 0.7365259405794765,
 0.653994542608233,
 0.5492516137612884,
 0.4986871836018081,
 0.6732800830731375,
 0.7035649246277966,
 0.7254724384008826,
 0.600910758620459,
 0.6245216809266249,
 0.6307771095375861,
 0.7684179661400119,
 0.7854181846967916,
 0.5622406009154048,
 0.6843880928625425,
 0.5778501283957556,
 0.6170935895719769,
 0.5392533652542745,
 0.7163902856790179,
 0.33482488133690524,
 0.6733566469697455,
 0.573149277112929,
 0.6792286429339746,
 0.6604143324086663,
 0.6974514018128077,
 0.525862327771285,
 0.5882048173860872,
 0.7540195112572856,
 0.6861718088978235,
 0.5037872879767833,
 0.586812688836341,
 0.632522789353089,
 0.6638926836558409,
 0.589112989894671,
 0.7179472103151312,
 0.717175568098208,
 0.7195108580236478,
 0.7268820093703969,
 0.4842761005742361,
 0.5849507096737491,
 0.5244538018772709,
 0.433039200149794,
 0.6189094499304117,
 0.607523587256112,
 0.6416062192499459,
 0.4811447223848906,
 0.6590401360294219,
 0.6214516740855269,
 0.7354748082088625,
 0.6997028216680148,
 0.7184868571550431,
 0.5796711877011372,
 0.6844489175315828,
 0.551793320583463,
 0.5834752739344502,
 0.4493032495838605,
 0.6079689454365631,
 0.5738544674121827,
 0.6460657581622671,
 0.577823269354524,
 0.6159045102900031,
 0.6859165377679719,
 0.743384407606746,
 0.6733483462787853,
 0.6358946187880978,
 0.6852016924795135,
 0.5372719991799653,
 0.6190974484848143,
 0.6384276586522919,
 0.6810906331327519,
 0.5855129047832761,
 0.6883538417762367,
 0.49449942493848387,
 0.6330568416218234,
 0.6552946174673371,
 0.6359146937063267,
 0.6856429333792444,
 0.6751126666458885,
 0.6016909511218049,
 0.6899511439779622,
 0.6600548233403788,
 0.6837503672381984,
 0.5929485901619975,
 0.7041146875653272,
 0.5649570265941317,
 0.6078514486006589,
 0.5763911737120335,
 0.5851255973613092,
 0.7107004246730105,
 0.6767095983739779,
 0.6662479194313271,
 0.4423022721705616,
 0.6956021024757175,
 0.7099506032148144,
 0.5689669381027651,
 0.5902811367648474,
 0.652570682810167,
 0.5318109113302302,
 0.7325366971557827,
 0.6582210770656937,
 0.595325160920579,
 0.7077950470408351,
 0.6260915849841364,
 0.8216111047306386,
 0.6810050373204938,
 0.6376718924575715,
 0.6239450939828749,
 0.5828209340389368,
 0.5503845109971282,
 0.6062883548958968,
 0.5053332997506421,
 0.6594883488762618,
 0.5821833399036935,
 0.7027442684204902,
 0.7148724201115054,
 0.5440227636089932,
 0.7129101331739802,
 0.6644601306165266,
 0.5592359030451852,
 0.7181200738715663,
 0.586707292634035,
 0.6612070185139789,
 0.692837218979131,
 0.6285984495688126,
 0.5545724939778711,
 0.6359351690027988,
 0.6172447730316644,
 0.5635045247731529,
 0.6341816693284106,
 0.627743883541668,
 0.772457633797212,
 0.5656313186612019,
 0.5011881507237921,
 0.6341541976471358,
 0.6589044156174964,
 0.41279506168753166,
 0.7311839662116084,
 0.6253658805653508,
 0.6780703704660516,
 0.6462571754903585,
 0.5930433384473763,
 0.6643181371826166,
 0.5706313032195947,
 0.5745007174299005,
 0.6902995180218212,
 0.6527340794975962,
 0.4648361771300483,
 0.5687424839939058,
 0.6962495500293869,
 0.6917454801131311,
 0.6498239833010879,
 0.8245123213324895,
 0.718992040565873,
 0.5446508704072239,
 0.6143157269164068,
 0.6727430243354923,
 0.6113005131281295,
 0.7143355770247861,
 0.6795838296854038,
 0.6414188326428321,
 0.6169824287858405,
 0.6744886457790076,
 0.638985519283307,
 0.5049585197682431,
 0.666849890554815,
 0.7358390399884635,
 0.6531625898525524,
 0.6973299080330215,
 0.5960796801052973,
 0.7116342252143624,
 0.6649212724129587,
 0.5791597078743078,
 0.6911304269008782,
 0.7293193172236787,
 0.6272050857852782,
 0.6319631110325659,
 0.7493872677173319,
 0.4023084580055102,
 0.7100721813965516,
 0.7119531728817382,
 0.4515508202674908,
 0.6158239721231967,
 0.7847877660491328,
 0.5827883999385441,
 0.6723154025725522,
 0.7711375970627736,
 0.5818236565054682,
 0.6767066093265912,
 0.30045107228791,
 0.49258961567591664,
 0.509741774433156,
 0.5691038036186032,
 0.6186552639301196,
 0.6760565300579161,
 0.6227908253965908,
 0.5303560047071902,
 0.6022692538337369,
 0.5417954331241707,
 0.5634461146360645,
 0.590530600965717,
 0.6818290366611587,
 0.4753900792365974,
 0.49586210928825436,
 0.5517164158982745,
 0.7244696860939759,
 0.7405893047191298,
 0.6279635640505846,
 0.7309082912898718,
 0.5825795419803659,
 0.5539204462348989,
 0.5950645077087391,
 0.6308003186058262,
 0.44063405590122906,
 0.7244616613844641,
 0.5867152542101468,
 0.6663298402592914,
 0.6089742734947662,
 0.5300946851733747,
 0.5940300612312339,
 0.5705668175735403,
 0.48454217372528874,
 0.5400401893829667,
 0.6399324145962523,
 0.4958581977803346,
 0.7819359491968757,
 0.7796864457099157,
 0.7463107508321959,
 0.7800635258929455,
 0.5431780102434498,
 0.607067638317368,
 0.5083846978209237,
 0.5594161966989665,
 0.6510086889568631,
 0.5879781394400327,
 0.7699647575711044,
 0.5590631009040427,
 0.6989303095571331,
 0.6482701366042968,
 0.5645011225972072,
 0.715414420909389,
 0.7589220962500574,
 0.7047736774214215,
 0.7668959407006899,
 0.6347478537740667,
 0.6282154776894424,
 0.6503164564985624,
 0.6530177908365441,
 0.4747537676713278,
 0.5469399073302446,
 0.627244974392916,
 0.549419792004114,
 0.6221084248719211,
 0.6177832358460331,
 0.7136907653855701,
 0.6135681956578162,
 0.7534337689806304,
 0.6969618411590603,
 0.6287172968756725,
 0.7884313944707013,
 0.6557660005582244,
 0.6544749232394982,
 0.6888963908193559,
 0.7344573369425631,
 0.7173743442902537,
 0.5663908107713629,
 0.7224584859866565,
 0.5928054944688351,
 0.4684830093577157,
 0.45184706994699664,
 0.5200021260717484,
 0.6900129585235288,
 0.5407547607465958,
 0.7512168644233137,
 0.8131943030426345,
 0.6309712308600188,
 0.7431132179580244,
 0.7010385458143538,
 0.5330075263108845,
 0.7082208291201753,
 0.7690409215335718,
 0.6807209760622919,
 0.7634623096918358,
 0.4872235239216949,
 0.6453000383381734,
 0.5920287737124548,
 0.7821052680408945,
 0.6918234963834177,
 0.6490729008560034,
 0.6969546046789101,
 0.6748489100785835,
 0.6069499719896703,
 0.5106339751538544,
 0.4994403334974219,
 0.5452521323067663,
 0.7374758228041618,
 0.5830981567847356,
 0.6074497164269506,
 0.6538698035325743,
 0.5117568827529202,
 0.47565664405144403,
 0.5894967130157149,
 0.5330965491306714,
 0.5698312299455881,
 0.6196766632373736,
 0.5365184791166464,
 0.5927246398691179,
 0.7233059790357781,
 0.6937591044309651,
 0.5143585793897609,
 0.6496400551781494,
 0.5010393038860071,
 0.6155762225378807,
 0.5731374443107017,
 0.6979812142246836,
 0.6015680735297482,
 0.5098609707026592,
 0.6709629027939128,
 0.6187094440221905,
 0.5307522702581402,
 0.7413398675456236,
 0.7319033890348289,
 0.5999509998828565,
 0.6714114201812711,
 0.6914958747039833,
 0.6448765913388187,
 0.6674152371498947,
 0.5894650532860114,
 0.7064416466570889,
 0.6225830024292502,
 0.7436127498779607,
 0.7073784247944652,
 0.5742433731456462,
 0.4602676226419514,
 0.7286266879098448,
 0.6677842159888883,
 0.6984702091995867,
 0.6470049676367038,
 0.7076077658416036,
 0.5834341391368818,
 0.7067845931266293,
 0.6771982566560352,
 0.5386166765609898,
 0.6993036618445954,
 0.7148348473474011,
 0.5634043926953246,
 0.6905045866124062,
 0.44471194058976726,
 0.7161274372396015,
 0.7338589974590972,
 0.6938623102178886,
 0.6248975023298455,
 0.6434802702900618,
 0.6744899064601821,
 0.518664409676794,
 0.5618168103636201,
 0.6845721543978824,
 0.6172818185696589,
 0.7351715751508225,
 0.7702641752127355,
 0.6491662298886118,
 0.6923022453673038,
 0.7054188562055794,
 0.8071049117104462,
 0.6887684036743976,
 0.7046993380817521,
 0.6714744570991205,
 0.6029499296485759,
 0.5647628195074039,
 0.43428864403456324,
 0.7343331002965126,
 0.562183870316636,
 0.8082332720164357,
 0.3785549101154331,
 0.6367678238986789,
 0.7001969890045029,
 0.5506427337335992,
 0.594139032946245,
 0.7002839795926565,
 0.7082988189333999,
 0.649337692891315,
 0.5867807763621969,
 0.5587583621654244,
 0.497668783415397,
 0.5773171759755202,
 0.57764593656462,
 0.574503969921687,
 0.624502730590125,
 0.7033489261614829,
 0.6685916987667412,
 0.686052043727092,
 0.6551744315743546,
 0.6483890864373151,
 0.5173805259067792,
 0.5839991003272034,
 0.5401975094482377,
 0.47032169556458725,
 0.692820326373035,
 0.6768367908497861,
 0.6701708319381401,
 0.7179600059550493,
 0.6518958570955724,
 0.688690935012801,
 0.6501063202741688,
 0.6281535637617854,
 0.5793855829317012,
 0.43456250556084086,
 0.7365610680447343,
 0.5300750277111625,
 0.6585948837456366,
 0.6815809811671266,
 0.7746236624035746,
 0.6477681072775094,
 0.8456515104452564,
 0.6046984466234515,
 0.7763336443263222,
 0.5835017807437324,
 0.7060657264604637,
 0.6329019492207983,
 0.7038857938212839,
 0.6412360934164225,
 0.670766616966971,
 0.5887428928360793,
 0.8022179978938284,
 0.7720550197904045,
 0.7427621011208936,
 0.721533859842068,
 0.6596647230270529,
 0.5661453144093886,
 0.7531613495504904,
 0.7765011355934265,
 0.5497127533385873,
 0.5774507434415898,
 0.6333068542413034,
 0.7082439249656362,
 0.6403512324041725,
 0.4955709323486337,
 0.513276163137355,
 0.7296128633728534,
 0.6464413432288583,
 0.7460914445791844,
 0.5490151711082758,
 0.5891795824428256,
 0.7732998672448623,
 0.5183983206818822,
 0.6222064888390684,
 0.6802269369825149,
 0.5990840836173427,
 0.6848505802552778,
 0.6499012630241231,
 0.49057441899274834,
 0.5428393092657704,
 0.35083170952117093,
 0.6722658451483381,
 0.7031297380479582,
 0.7606882333208262,
 0.6048437886507256,
 0.6266673945651073,
 0.7329140047321591,
 0.534253051426339,
 0.5465295694148691,
 0.6002398349174307,
 0.609251603095756,
 0.5348871284288783,
 0.5552946164168533,
 0.5178163298773851,
 0.6340270973119808,
 0.5806142095295552,
 0.739981480443012,
 0.6327497582043735,
 0.5089920596013391,
 0.7762555869304931,
 0.6032387736812563,
 0.6162241740439061,
 0.6711226435921567,
 0.5491444164493058,
 0.7011695455761137,
 0.6497480460876048,
 0.6638832738997072,
 0.7795835566594276,
 0.6826755836372029,
 0.6049609552895732,
 0.5606383429788726,
 0.6312327525367749,
 0.5073076534289633,
 0.6690233884551787,
 0.6966013395324483,
 0.7637322773222588,
 0.687312287135897,
 0.6534974574119365,
 0.6378217969673738,
 0.6187186729052853,
 0.6376774547300326,
 0.7256449393769164,
 0.6603301229542757,
 0.7835902417604856,
 0.7193480892162991,
 0.759086487488061,
 0.5945146271244762,
 0.6750971899563668,
 0.6941294503495772,
 0.684692489752141,
 0.49792892792679777,
 0.5697480771252805,
 0.5324658862587737,
 0.47164858524739506,
 0.6351965155049775,
 0.6889808701352746,
 0.7635494660451237,
 0.6536169239891092,
 0.6277302016385654,
 0.5634747387128756,
 0.6366652637731988,
 0.737647189641647,
 0.5088199121376692,
 0.5794384247892379,
 0.6378429310629614,
 0.5298643004681127,
 0.6777510443409309,
 0.5758290713576177,
 0.6923967227497927,
 0.6007347783346737,
 0.6790223053208762,
 0.5830547097512813,
 0.6958763308629108,
 0.46341376877101026,
 0.7139680930300423,
 0.3235473610457128,
 0.7312975727266423,
 0.5020649148083915,
 0.6214065033217533,
 0.6739217045971891,
 0.5926594933485076,
 0.7245073070264563,
 0.6318063574094861,
 0.7147748552376642,
 0.5554050721058345,
 0.5144547960107496,
 0.6955438031004203,
 0.7086436720322673,
 0.6142662794883009,
 0.4906697970313033,
 0.7054084664358049,
 0.5894627051323837,
 0.6573804897265703,
 0.674515673035138,
 0.7941490660068025,
 0.7144605816494289,
 0.7270502954078857,
 0.6182406685211249,
 0.6403062171228528,
 0.6472243815357688,
 0.6797340679556936,
 0.6243748099365708,
 0.5746213448281481,
 0.694827215167675,
 0.6784430637345497,
 0.7611204434353909,
 0.6667073894567086,
 0.6317921121530068,
 0.593325486849748,
 0.6461056631930379,
 0.49716080517682393,
 0.5845087295778784,
 0.5219645709285398,
 0.5789592388768561,
 0.6937897951304324,
 0.6385352532970103,
 0.7001040245345016,
 0.6931513772693663,
 0.5895977617928446,
 0.6973419866646663,
 0.7228921696807253,
 0.7177833396359936,
 0.6371743878636229,
 0.3874877617936837,
 0.5581488661288566,
 0.5620076746883371,
 0.5642921939190522,
 0.5257542955235854,
 0.5192376555117657,
 0.5706306400269022,
 0.711153890502749,
 0.5858278201750718,
 0.5442014860603344,
 0.7491487433581316,
 0.48604251030626433,
 0.6077067582339021,
 0.6830914054092725,
 0.5955848987865537,
 0.47379652169838005,
 0.5961593778059873,
 0.6070377608546855,
 0.5992158389656232,
 0.6678934543818701,
 0.5918228625365761,
 0.37126699601597757,
 0.5820805213641518,
 0.6802513300187689,
 0.6069350542754416,
 0.5097428544282452,
 0.7211530301064157,
 0.602955725043241,
 0.5126777225092629,
 0.76226174966682,
 0.6371921727740009,
 0.6938113673603201,
 0.5128777473759297,
 0.6716511134587118,
 0.6444036550637287,
 0.5865324482487522,
 0.7593972844258333,
 0.68048888292765,
 0.6366473217148794,
 0.5160353494143639,
 0.5842652459511208,
 0.6789581364682236,
 0.7054307955226712,
 0.7503125356029614,
 0.5432995087954455,
 0.5651112541518637,
 0.6711280780617683,
 0.6808804463234643,
 0.6024193488490824,
 0.48495715163410447,
 0.6935376415168037,
 0.5975463263807363,
 0.422040572582031,
 0.604064517884908,
 0.6484605754319818,
 0.672334722083183,
 0.5874672814578117,
 0.7503700202331405,
 0.7507424523983272,
 0.6501819204765705,
 0.6499164289064727,
 0.5854742704633928,
 0.4606221087240516,
 0.675282901851195,
 0.6647053988633171,
 0.7253781042903418,
 0.7687315589885062,
 0.55861632486695,
 0.5151362172476767,
 0.47995193101168576,
 0.6709825497893235,
 0.6207791721076183,
 0.6989357112987891,
 0.7160597237938806,
 0.7371402404331412,
 0.750338216654125,
 0.5248797605310955,
 0.6650602322323769,
 0.7328779397012857,
 0.6646606193531287,
 0.6287176741963832,
 0.6620485462371175,
 0.5649447299215948,
 0.7115552713325233,
 0.6584709793569198,
 0.6187387019606293,
 0.5215743357602347,
 0.7208037577114383,
 0.6986316126485483,
 0.5872970788987246,
 0.621932702088938,
 0.8313722155875224,
 0.6330784207947512,
 0.5546605879993038,
 0.7931812927003842,
 0.602504220579906,
 0.6814876517009929,
 0.6118213149341658,
 0.6541429134305854,
 0.6920131513286434,
 0.7115325887699382,
 0.6608543916803803,
 0.5533643138881866,
 0.7515394004006034,
 0.6663198388264797,
 0.47695603875949777,
 0.7039532808030218,
 0.5967327444289509,
 0.7294048028069887,
 0.5353691063650219,
 0.6827157347720891,
 0.7312497284666382,
 0.6604285515947435,
 0.654955167919588,
 0.5332442801761221,
 0.6449395302268014,
 0.7112236301992062,
 0.8112929555664737,
 0.7290807057968062,
 0.6573265811899788,
 0.6778602942086787,
 0.7205762769260822,
 0.7319366769466142,
 0.34217467260851353,
 0.6459372648403187,
 0.5516974435694972,
 0.5873830332609322,
 0.6768894725776151,
 0.6791947757288436,
 0.6546338621987936,
 0.6220052902211166,
 0.6519528641868584,
 0.6891649002232082,
 0.6081079473862293,
 0.5800311805973106,
 0.7256150400611057,
 0.5286038286777643,
 0.7940023976824027,
 0.671973305639906,
 0.5889136346001067,
 0.545566420032233,
 0.6129836465140948,
 0.5105303535427053,
 0.7133972467397816,
 0.5987686136235477,
 0.6147237505089025,
 0.5937412391040855,
 0.7512051843263232,
 0.756556177410123,
 0.592901933921428,
 0.6130968595171196,
 0.660376936962723,
 0.5529868265692585,
 0.5925912738823236,
 0.5104398616635255,
 0.5548357916908799,
 0.7058752538391131,
 0.7641198129896389,
 0.6888812935317339,
 0.7142415036516969,
 0.652040880690494,
 0.6011933655444324,
 0.7514728270562887,
 0.5946098199508378,
 0.6332055676871245,
 0.6652462362349045,
 0.6658762373975016,
 0.7120079234447385,
 0.6430703798451315,
 0.6178812922169499,
 0.6603787706016705,
 0.6258221774356405,
 0.6269536918056571,
 0.5344639431483975,
 0.7578402524370281,
 0.6716696452124649,
 0.6976838430843504,
 0.7030790620555437,
 0.6080612880469893,
 0.5576711873789987,
 0.5851138637888698,
 0.5555056043259607,
 0.38852411320956204,
 0.7044396378347393,
 0.6546885267281652,
 0.6546584179462446,
 0.824745861065094,
 0.7102046122976793,
 0.7833892989632312,
 0.6411165609966064,
 0.634194692162967,
 0.6375187990718215,
 0.6561277439292283,
 0.6974690390784719,
 0.4497324824644946,
 0.7190351327708597,
 0.7028766008140369,
 0.7349460657143989,
 0.7383346596719915,
 0.6578211515769228,
 0.5603754955422047,
 0.73428310698107,
 0.6066255215670804,
 0.6343947325947082,
 0.7477939728118864,
 0.6284221345506555,
 0.5092167434916228,
 0.613117327507762,
 0.6533098402979136,
 0.5457427423190104,
 0.5977229059559347,
 0.6455129789655465,
 0.7459992237350623,
 0.3888213035816743,
 0.5655152995148705,
 0.5549830908346258,
 0.6486159324542742,
 0.6613012207049529,
 0.5258705274976964,
 0.7881359239542052,
 0.6277596558462282,
 0.5990465599136795,
 0.7028523180314639,
 0.656867973273418,
 0.653476116279571,
 0.5587652773793109,
 0.7774203916466214,
 0.6599149752874244,
 0.5951125531797912,
 0.44789344006297416,
 0.7185944747061491,
 0.6643153005842564,
 0.7601264825114996,
 0.6538724926158557,
 0.6380374952206549,
 0.49085440025858074,
 0.7088806893933592,
 0.775243279695109,
 0.5774197969206302,
 0.7125575392221659,
 0.6402513160627519,
 0.5731077234969326,
 0.6388388433226397,
 0.6208526831459737,
 0.594740494358696,
 0.7293355445878011,
 0.7584071886591763,
 0.7251549868061127,
 0.7080531392953822,
 0.6734722138669708,
 0.49470912942149514,
 0.6089783956648982,
 0.6132553159203233,
 0.575124621133505,
 0.6889109888094773,
 0.727929705366319,
 0.6004283994971509,
 0.6351298549083431,
 0.6576931348593089,
 0.5506713180161427,
 0.6308099098506665,
 0.5421421652329707,
 0.502337672606138,
 0.764318474958035,
 0.525702890674933,
 0.7757681273196243,
 0.5755166685646295,
 0.6675332447927602,
 0.5780706055487512,
 0.6717905680741172,
 0.5563259336377573,
 0.6233980230311771,
 0.602388701609775,
 0.5554463341115639,
 0.6471105906416674,
 0.5748861154797391,
 0.5102116887444537,
 0.6686442220920792,
 0.6209498641700109,
 0.6865250205239881,
 0.6563741694945461,
 0.6480367689851765,
 0.5437993216690306,
 0.6291251041681236,
 0.6404584463657079,
 0.7040717469749398,
 0.6967641101188784,
 0.654497816558955,
 0.722595071968891,
 0.7352545131106494,
 0.6279724817890093,
 0.5393320615652072,
 0.7145664275267514,
 0.5719566026093705,
 0.5825542083653182,
 0.6714766140973273,
 0.5280778901392531,
 0.6456054892584628,
 0.6455393857358687,
 0.5127362309710555,
 0.4811093388701745,
 0.6052105084008454,
 0.6927104087152727,
 0.7568386698607108,
 0.5865060115903272,
 0.6837543517646142,
 0.6600001833990137,
 0.5600641682988325,
 0.7878599262597952,
 0.7488464798729373,
 0.5950485718933585,
 0.7854649985805932,
 0.6507842861040369,
 0.6795994875969638,
 0.6892877651839959,
 0.7218360039046874,
 0.6962035348235531,
 0.5240380549911869,
 0.5885745491822711,
 0.6698907905247615,
 0.6986686134913316,
 0.4977884982638734,
 0.5032264862309206,
 0.7337656561834882,
 0.46689059663702903,
 0.5122938702446244,
 0.6597835208421803,
 0.7814092431655587,
 0.6790835379023373,
 0.5812663604628334,
 0.569735233178295,
 0.7859800911787939,
 0.6176284183580805,
 0.6737491934053115,
 0.7424209841685012,
 0.5260106550579875,
 0.7026287035616949,
 0.4956976660150244,
 0.6944619801094625,
 0.6326887714374114,
 0.5528013388106777,
 0.6196276087838727,
 0.5617965472467557,
 0.7529616075342109,
 0.5118450479803238,
 0.5481084394794367,
 0.5605046664618654,
 0.6917652541361246,
 0.6340932833382557,
 0.6702872821844037,
 0.7404623854589474,
 0.5021774456075894,
 0.5742311221222626,
 0.6728602829634847,
 0.7069528880683137,
 0.4986922706360222,
 0.6103423052322587,
 0.7186991489825056,
 0.6509514608696709,
 0.650277219192656,

In [228]:
import numpy as np
np.argmax(a)

433

In [229]:
a[np.argmax(a)]

0.8456515104452564

In [230]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(a))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8456515104452564

In [231]:
import pickle

In [232]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [234]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

array([459113.49353657])